<nav class="navbar navbar-inverse">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand" routerLink="/home" style="cursor: pointer;">Contacts Client</a>
      </div>
      <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li>
                  <a routerLink="/view-contacts" style="cursor: pointer;">View Contacts</a>
              </li>
              <li>
                  <a routerLink="/maintain-contacts/0" style="cursor: pointer;">Maintain Contacts</a>
              </li>
          </ul>
      </div>
  </div>
</nav>