<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2 style="display:inline">{{heading}}</h2>
        </div>
    </div>
    <hr class="btn-warning">
    
    <div class="row">
        <div class="col-md-4">
            <h4>{{model.firstName}}&nbsp;{{model.lastName}}</h4>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary" (click)="onBack()">{{backButtonText}}</button>
            <button [routerLink]="['/maintain-contacts', '0']" class="btn btn-primary" *ngIf="showNewButton">Add New</button>
            <button (click)="resetForm()" class="btn btn-primary" *ngIf="!showNewButton">Reset Form</button>
        </div>
    </div>
    <hr class="btn-warning">
    <div class="row">
        <div class="col-md-4">
            <form #form="ngForm" (ngSubmit)="submitForm(form)" novalidate>
                <div class="row">
                    <div class="col-md-7 form-group" [class.has-error]="firstName.invalid && (firstName.touched || firstName.dirty)">
                        <label class="control-label">First Name: *</label>
                        <input #firstName="ngModel" type="text" required name="firstName" class="form-control" [(ngModel)]="model.firstName">
                        <div *ngIf="firstName.invalid && (firstName.touched || firstName.dirty)" class="alert alert-danger">First Name is required</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 form-group" [class.has-error]="lastName.invalid && (lastName.touched || lastName.dirty)">
                        <label class="control-label">Last Name: *</label>
                        <input #lastName="ngModel" type="text" required name="lastName" class="form-control" [(ngModel)]="model.lastName">
                        <div *ngIf="lastName.invalid && (lastName.touched || lastName.dirty)" class="alert alert-danger">Last Name is required</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 form-group" [class.has-error]="email.invalid && (email.touched || email.dirty)">
                        <label class="control-label">Email: *</label>
                        <input #email="ngModel" type="text" required email name="email" class="form-control" [(ngModel)]="model.email">
                        <div *ngIf="email.invalid && (email.touched || email.dirty)" class="alert alert-danger">A properly formed email address is required</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 form-group">
                        <label>Telephone: </label>
                        <input #telephone="ngModel" type="text" name="telephone" class="form-control" [(ngModel)]="model.telephone">
                    </div>
                </div>
                <hr class="btn-warning">
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn btn-success" type="submit" [disabled]="form.invalid">{{submitText}}</button>
                    </div>
                    <div class="col-md-8">
                        <label *ngIf="form.valid" [class.alert-danger]="actionTaken && !saveSuccess" [class.alert-success]="actionTaken && saveSuccess">{{responseText}}</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-8">
                <div class="jumbotron">
                        <h3>About this view</h3>
                        <p class="lead">I decided to incorporate the functionality for both editing a Contact and adding a new Contact
                            into the same view and using the same form.
                        </p>
                          <hr class="alert-info">
                        <p>
                          There is a Contact model class, which is instantiated with empty values when we add a new Contact. When editing an existing Contact,
                          the data is fetched from the backend, using the data service, and loaded into the model. Form fields are bound to model fields, 
                          making the process robust and easy to manage.
                        </p>
                        <hr class="alert-info">
                        <p>
                            Validation is built in---required fields cannot be empty, the email field has to be in the proper format and the Contact
                            cannot be added or edited while the form state is invalid, the save button being disabled.
                        </p>
                        <hr class="alert-info">
                        <p>
                            POSTing or PUTting the form is taken care of by an Angular service, which returns an Observable that is subscribed to in the view component
                            to provide user feedback.
                        </p>
                      </div>
        </div>
    </div>
</div>