<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2 style="display:inline">Contact List</h2>
    </div>
  </div>
  <hr class="btn-warning">
  <div class="row">
    <div class="col-md-4">
      <label for="nameFilter">Search: </label>
      <input type="text" name="nameFilter" [(ngModel)]='listFilter'>
      <button [routerLink]="['/maintain-contacts', '0']" class="btn btn-primary">Add new</button>
    </div>
  </div>
  <hr class="btn-warning">
  <div class="row" *ngIf="!filteredContacts">
    <div class="col-md-4">
      <label class="alert alert-info">{{GETMessage}}</label>
    </div>

  </div>
  <div class="row">
    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let contact of filteredContacts" [routerLink]="['/single-contact', contact.id]">
          <a>
            {{contact.firstName}}&nbsp;{{contact.lastName}}</a>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <div class="jumbotron">
        <h3>About this view</h3>
        <p class="lead">The contact list is fetched from the API GET endpoint, using an Angular Service. The service returns an observable
          http call, which is subscribed to in the Contact List component, which in turn displays the server response as
          a list of clickable contacts.</p>
        <hr class="alert-info">
        <p>
          When a contact is clicked, the user is taken to the View Contact view.
          <br> The list can be filtered according to the search term as entered by the user in the Search text box.
          <br> Clicking on the Add New button will take the user to the Add New Contact view.<br> I would have liked to add features
          like pagination and sorting to this view, but unfortunately time did not permit.
        </p>
      </div>
    </div>
  </div>
</div>