 ul {
    list-style: none;
    padding: 0;
}
li{
    cursor: pointer;
    border: 1px solid black;
    border-radius:2px;
    margin-bottom: 5px;
}
 li:before {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0 10px;
    content: "\e008";
}
a{
    text-decoration: none;
}
.jumbotron p {
    font-size: 18px;
}
