<div class="container">
  <div class="col-md-6">
    <div class="jumbotron">
      <h2>Welcome to Contacts Client!</h2>
      <p class="lead">This is a simple Angular 5 web client that demonstrates the use of features like routing,
        services, forms and Http calls to an ASP.NET Web API to view and maintain a list of contacts.
      </p>
  <hr>
  <p>
      Navigate to <a routerLink="/view-contacts" style="cursor: pointer;">View Contacts</a>  to view a list of all contacts or
       <a [routerLink]="['/maintain-contacts', '0']" style="cursor: pointer;">Maintain Contacts</a> to add or edit a contact.
  </p>
      </div>
  </div>

</div>