<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2 style="display:inline">Contact:</h2>
    </div>
  </div>
  <hr class="btn-warning">
  <div class="row">
    <div class="col-md-4">
      <h4>{{contact?.firstName}}&nbsp;{{contact?.lastName}}</h4>
    </div>
    <div class="col-md-6">
      <button class="btn btn-primary" (click)="onBack()">Back</button>
      <button class="btn btn-primary" (click)="onEdit()">Edit</button>
    </div>
  </div>
  <hr class="btn-warning">
  <div class="col-md-4">
      <div class="row">
          <div class="col-md-4">
            <label style="display:block">First Name:</label>
            <label class="text-info">{{contact?.firstName}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label style="display:block">Last Name:</label>
            <label class="text-info">{{contact?.lastName}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label style="display:block">Email:</label>
            <label class="text-info">{{contact?.email?contact?.email:'None Saved'}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label style="display:block">Telephone:</label>
            <label class="text-info">{{contact?.telephone?contact?.telephone:'None Saved'}}</label>
          </div>
        </div>
  </div>
  <div class="col-md-8">
      <div class="jumbotron">
          <h3>About this view</h3>
          <p class="lead">This is just an informational view, displaying contact details.</p>
            <hr class="alert-info">
          <p>
            The user can navigate back to the Contact List, or click Edit to edit this contact.
          </p>
        </div>
  </div>
  

</div>